.App {
  background-color: #131313;
  color: #fff9e1;
  padding: 50px;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 22%;
}

.title {
  color: #fff9e1 !important;
}

.MovieContent {
  margin-top: 60px;
}

table {
  margin-top: 40px;
  width: 100%;
}

td {
  height: 40px;
}

td:nth-child(1) {  
  width: 180px;
  color: #7a8c9b;
  font-weight: 700 !important;
  text-transform: uppercase;
}

footer {
  margin-left: -50px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#root {
  position: relative;
}

body > #root > div {
  min-height: 100vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 120px;
  height: 120px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 90px;
  height: 90px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 0.8s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-image {
  border-radius: 10px;
  height: 400px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.movie-image:hover {
  opacity: 0.8;
	transition: .1s ease-in-out;
}

.poster-stars {
  display: inline-block;
  background-color: #222930;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.stars {
  padding: 5px;
}